.employment-status-card-wrapper {
  padding: 5px 0px 30px 30px;
  background: #ffffff;
  box-shadow: 0px 12px 23px rgba(62, 73, 84, 0.04);
  border-radius: 8px;
  height: 100%;
  min-height: 270px;
}

.background-checks-card-wrapper {
  padding: 5px 0px 85px 30px;
  background: #ffffff;
  box-shadow: 0px 12px 23px rgba(62, 73, 84, 0.04);
  border-radius: 8px;
  height: 100%;
  min-height: 270px;
}

.tranings-card-wrapper {
  padding: 5px 20px;
  height: 265px;
  background: #ffffff;
  box-shadow: 0px 12px 23px rgba(62, 73, 84, 0.04);
  border-radius: 8px;
  height: 100%;
  min-height: 270px;
}
