.header {
  .adminDetail {
    .ant-avatar {
      border: 2px solid #f7b923 !important;
      margin-top: -7px;
    }
  }

  .container {
    position: relative;
    width: 400px;
    height: 35px;
    border-radius: 3px;

    &.expand-container {
      border: 1.5px solid #a0a3bd;

      &:hover {
        border: 1.5px solid #65cdf0;
        box-shadow: 0px 0px 2px #65cdf0;
      }
    }

    .search-input {
      font-size: 14px;
      width: 250px;
      max-width: 0;
      padding: 5px;
      transition: all 0.5s ease;
      position: absolute;
      left: 5px;
      box-sizing: border-box;
      opacity: 0;
      outline: none;
      border: none;
    }

    .search-expanded {
      max-width: 400px;
      opacity: 1;
    }

    .search-wrapper {
      width: 20px;
      height: 20px;
      position: absolute;
      right: 15px;
      border: none;
      outline: none;
      cursor: pointer;
      padding-top: 4px;
      font-size: 18px;
      background-color: transparent;
      color: #4e132c;

      svg {
        margin-left: -15px;
      }
    }
  }
  .togglebar {
    display: none;
    @media only screen and (max-width: 1024px) {
      display: block;
    }
  }
}
.profile-dropdown {
  top: 70px !important;
  .ant-popover-inner {
    padding: 2px 21px !important;
    .profile-item {
      padding-block: 5px;
      svg {
        width: 18px;
        height: 24px;
      }
      &:hover {
        svg path {
          fill: #65cdf0;
        }
        span {
          font-weight: 600;
        }
      }
    }
  }
  .ant-popover-arrow {
    left: 158px !important;
  }
  @media only screen and (min-width: 1025px) {
    left: 87% !important;
  }
}
.notifications-popup {
  width: 368px;
  top: 80px !important;
  height: 320px;
  overflow: auto;
  box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  @media only screen and (min-width: 1025px) {
    left: 67% !important;
  }
  @media only screen and (max-width: 576px) {
    width: 280px !important;
  }
  &::-webkit-scrollbar {
    width: 4px;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px #65cdf0;
  }
  .notification {
    margin-bottom: 20px;

    .d-flex {
      justify-content: space-between;
    }

    .detailed-notifications {
      margin-block: 20px;

      .card {
        padding: 7px 14px;
        background: #f7f7fc;
        border-radius: 6px;
        margin-block: 10px;
        filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.1));

        .d-flex {
          gap: 10px;
        }
        img {
          border: 1px solid transparent;
          border-radius: 50%;
          background: linear-gradient(to right, white, white),
            linear-gradient(
              to right,
              #ee2e7e,
              #65cdf0,
              #4caf50,
              #f7b923,
              #ee2e7e
            );
          padding: 2px;
          background-clip: padding-box, border-box;
          background-origin: padding-box, border-box;
        }
      }
    }
  }
}
