@import "../../sass/variables";
.client-manager-wrapper-main {
  .wrapper-search-and-filters {
    background: #ffffff;
    box-shadow: 0px 12px 23px rgba(62, 73, 84, 0.04);
    border-radius: 8px;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-wrap: wrap;
    gap: 20px;
    .inner-main-head {

      .upper-level-buttons {
        gap: 10px;
        flex-wrap: wrap;

        .upper-level-btn {
          width: 194px;
          height: 46px;
          box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.043);
          border-radius: 2px;
        }

        .btn--orange {
          background-color: #f7b923 !important;
        }
      }
    }
    .search-input {
      background: $white-color;
      font-weight: 400;
      font-size: 14px;
      line-height: 22px;
      height: 40px;
      border-radius: 0px;
      max-width: 345px;
      width: 345px;
      box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.15);

      .ant-input {
        &::placeholder {
          color: #6e7191;
        }
      }
    }
  }

  .client-main-table-wrapper {
    .ant-table {
      border: 1px solid #d9dbe9;
      padding: 0.75rem;
      border-radius: 10px !important;
      margin-top: 30px;

      .ant-table-thead {
        tr {
          height: 65px;

          .ant-table-cell {
            background: none !important;
            font-weight: 600 !important;
            font-size: 14px !important;
            line-height: 17px !important;
            color: #4e4b66 !important;

            // border-bottom: 1px solid #D9DBE9 !important;
            &::before {
              background-color: #4e4b66 !important;
            }
          }
        }
      }

      .ant-table-tbody {
        tr {
          height: 71px;
          border-bottom: 1px solid #d9dbe9;

          .ant-table-cell {
            padding: 10px 16px !important;
          }

          &:last-child {
            border-bottom: none !important;

            td {
              border-bottom: none !important;
            }
          }
        }
      }
    }

    // To show table 1,2,3 pagination
 

   
  }
  .equal--width-tb {
    width: 55px;
    white-space: nowrap;
    display: flex;
    justify-content: flex-end;
  }
}

.search-and-filters {
  margin-top: 55px;
}

.add-client-info-form {
  .ant-modal {
    width: 890px !important;
  }

  .ant-form-item .ant-form-item-label > label {
    flex-direction: row-reverse;
    font-weight: 600;
    font-size: 14px;
  }

  .ant-select-selector {
    width: 100%;
    height: 46px !important;
    padding: 0 11px;
    display: flex;
    align-items: center;
    // border: 1px solid #a0a3bd !important;
    border-radius: 3px !important;
  }

  .ant-input {
    border-color: #a0a3bd;
    border-radius: 3px !important;
  }

  .form-select {
    height: 46px;
  }

  .form--label {
    font-size: 14px;
    font-weight: 600;
  }

  .cus-footer-buttons {
    display: flex;
    gap: 15px;

    .inner-cus-footer-btn {
      border-radius: 0px;
      color: #fff;
      border: none;
      height: 46px;
      font-size: 16px;
      font-weight: 600;
    }

    .btn--cancel {
      width: 128px;
      background-color: #4e132c;
    }

    .btn--save {
      width: 111px;
      background-color: #65cdf0;
    }
  }

  .form-check-group {
    display: flex;
    align-items: center;
    gap: 8px;
    margin: 20px 0px;
  }
}

@media (max-width: 900px) {
  .wrapper-search-and-filters {
    .search-input {
      width: 100% !important;
      margin-top: 5px;
    }
  }
}
