@import '../../../../../sass/variables.scss';

.direct-shift-modal-wrapper {
  .direct-paragraph {
    padding-bottom: 20px;

    p {
        color: rgba(0, 0, 0, 0.85);
    }
}
  .direct-shift-inner {
    height: 60vh;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 6px;
    .ant-modal-content {
      padding: 25px 30px;

      .ant-modal-body {
          padding-top: 10px !important;
      }
  }
  .ant-picker-input>input::placeholder {

    color: #888888!important;
    
    }
 .ant-select-single.ant-select-lg.ant-select-show-arrow .ant-select-selection-placeholder {
      color: #888888!important;
    }
  .staff-wrapper {
      display: flex;
      align-items: center;
      border: 1.5px solid #a0a3bd;
      border-radius: 3px;

      &:hover {
          border: 1.5px solid #65CDF0 !important;
      }
     
      .filter-icon {
          width: 46px;
          height: 45px;
          display: flex;
          justify-content: center;
          align-items: center;
          background: #DEDEDE;
          border-radius: 0px 3px 3px 0px;
          cursor: pointer;
      }
  }

  .ant-form-item {
      margin-bottom: 0 !important;
  }

  .ant-form-item-label {
      padding: 0 !important;

      label {
          font-weight: $fw-600;
          font-size: 14px;
          line-height: $line-height-28;
          color: #6E7191;
      }
  }


  // .date-picker-wrap {
  //     .ant-form-item-label {

  //         label {
  //             font-weight: $fw-600;
  //             color: #14142B;
  //         }
  //     }
  // }

  .ant-form-item-control-input-content {
      .ant-input {
          border: 1.5px solid #A0A3BD;
          border-radius: 3px;

          &:hover {
              border: 1.5px solid #65CDF0 !important;
          }
      }
  }

  .ant-picker.ant-picker-status-error {
      border-color: #ff7875 !important;
  }

  .direct-shift-btn {
      gap: 20px;
      padding-top: 20px;

      button {
          padding: 12px 35px;
          height: 100%;
          border: none !important;
          box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.043);
          border-radius: 2px;
      }

      .close-btn {
          background-color: #FAAD14;
      }

      .book-btn {
          background-color: #65cdf0;
      }
  }
  }
    
}