.shift-details-wrapper {
  flex-wrap: wrap;
  gap: 20px;

  .ant-form-item-row {
    flex-direction: column;
    justify-content: flex-start;

    .ant-form-item-label {
      display: flex;
      justify-content: flex-start;
    }
  }

  .shift-details {
    max-width: 300px;
    @media screen and (max-width: 717px) {
      max-width: inherit;
    }
  }

  .searchbar {
    @media screen and (max-width: 717px) {
      margin-top: 0 !important;
    }
  }
}