.add-client-rate-checkbox-style {
  .ant-checkbox-wrapper {
    margin-inline-start: 0 !important;
    display: flex !important;
    padding-block: 5px;
  }

  .ant-checkbox-group {
    display: flex !important;
    flex-direction: column;
  }
}

.add-client-select {
  width: 272px;
  height: 45px;

  @media only screen and (max-width: 600px) {
    width: 100% !important;
    margin-top: 10px;
    margin-left: 0;
  }

  .ant-select-selector {
    border-radius: 3px !important;
  }
}

.checkbox-select {
  li.ant-dropdown-menu-item.ant-dropdown-menu-item-only-child {
    background: transparent !important;
  }
}

.checkbox-select-list-wrapper {
  min-height: 44px;
  border: 1.5px solid #a0a3bd;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 12px;
  max-width: 400px;
  border-radius: 4px;
  color: #888888;
  cursor: pointer;
}

// .checbox-select-required {
//   @extend .checkbox-select-list-wrapper;
//   border: 1.5px solid #FF4D4F;
// }