@import '../../sass/variables';

.trainee-info-main-wrapper {
    .inner-main-head {
        background: #ffffff;
        box-shadow: 0px 12px 23px rgba(62, 73, 84, 0.04);
        border-radius: 8px;
        padding: 15px;
        display: flex;
        justify-content: space-between;
        padding-top: 42px;
        gap: 20px;
    }

    .trainee-info-table-wrapper{
        border: 1px solid #D9DBE9;
            padding: 0.75rem;
            border-radius: 10px !important;
            margin-top: 30px;
            background-color: #ffffff;
            overflow: hidden;
        .ant-table {
            

            .ant-table-thead {
                tr {
                    height: 65px;

                    .ant-table-cell {
                        background: none !important;
                        font-weight: 600 !important;
                        font-size: 14px !important;
                        line-height: 17px !important;
                        color: #4E4B66 !important;

                        // border-bottom: 1px solid #D9DBE9 !important;
                        &::before {
                            background-color: #4E4B66 !important;
                        }
                    }
                }
            }

            .ant-table-tbody {
                tr {
                    height: 71px;
                    border-bottom: 1px solid #D9DBE9;

                    .ant-table-cell {
                        padding: 10px 16px !important;
                    }
                    &:last-child {
                        border-bottom: none !important;

                        td {
                            border-bottom: none !important;
                        }
                    }
                }
            }
        }

        // To show table 1,2,3 pagination
        // .ant-pagination {

        //     .ant-pagination-next,
        //     .ant-pagination-prev,
        //     .ant-pagination-item {
        //         display: none !important;
        //     }

        //     .ant-pagination-options {
        //         margin: 0px !important;
        //     }
        // }
    }

    .search-input {
        background: $white-color;
        // border: 1px solid #D9DBE9;
        font-weight: 400;
        font-size: 14px;
        line-height: 22px;
        height: 40px;
        border-radius: 0px;
        max-width: 345px;
        // min-width: 345px;
        width: 345px;
        box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.15);

        .ant-input {
            &::placeholder {
                color: #6E7191;
            }
        }

    }

    @media (max-width: 900px) {
        .inner-main-head {
            flex-direction: column;
            gap: 0px !important;
        }
    }
    @media (max-width: 1000px) {
        .inner-main-head {
            flex-direction: column;
        }
    }
    @media (max-width: 900px){
        .search-input{
            width: 100% !important;
            max-width: 100% !important;
            margin-top: 5px;
        }
    }

}

