@import '../../sass/variables.scss';

.client-booking-calendar {
  margin-bottom: 50px;

  .care-booking-wrap {
    border: 1px solid #D9DBE9;
    box-shadow: 0px 12px 23px rgba(62, 73, 84, 0.04);
    border-radius: 8px;
    padding: 15px 15px;

    .care-booking-btn {
      button {
        background-color: #65CDF0;
        padding: 12px 30px;
        border: none !important;
        box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.043);
        border-radius: 2px;
      }
    }
  }

  .fs-11 {
    font-size: 11px !important;
  }

  .calendar-wrap {
    padding: 0 20px 20px 20px;
  }

  .calendar-header-wrap {
    // min-width: 1380px;
    justify-content: flex-end;
    gap: 15px;
    flex-wrap: wrap;
    padding: 20px 20px;
    margin-top: 20px;

    .calendar-header {
      gap: 10px;

      span {
        width: 15px;
        height: 15px;
      }
    }
  }


  .care-booking-filters {
    padding-top: 50px;
    gap: 10px;
    flex-wrap: wrap;
  }

  .booking-calendar-wrap {
    border-radius: 8px;

    .fc-timeline-slot.fc-timeline-slot-label {
      .fc-timeline-slot-frame {
        height: 100px !important;
      }
    }

    .fc-datagrid-cell-frame,
    .fc-timeline-lane.fc-resource {
      height: 100px !important;
    }

    .fc-view-harness.fc-view-harness-active {
      background: #fff !important;
      box-shadow: 0px 0px 6px rgba(16, 24, 40, 0.1);
      border-radius: 8px;
      height: 100vh !important;
    }

    .fc-scrollgrid.fc-scrollgrid-liquid {
      border-radius: 8px;
    }

    .fc .fc-resource-timeline-divider {
      width: 1px !important;
    }

    .fc-h-event {
      background: none !important;
      border: none !important;
    }


    .fc-timeline-slot-frame {
      // width: 200px;
      display: flex;
      justify-content: center !important;
      align-items: center !important;
    }

    .fc-resource-timeline-divider.fc-cell-shaded {
      cursor: none !important;
    }
  }
  .fc .fc-daygrid-day.fc-day-today {
    background: none;
  }

  .fc-datagrid-cell-main {
    display: flex;
    height: 100%;
    margin-top: 25px;
    padding-left: 15px;
    color: #4E4B66;
    font-weight: $fw-600;
    font-size: $fs-14;
  }

  .resource-user {
    padding-left: 25px;

    h2 {
      line-height: 11px;
      text-align: left;
    }

  }

  .event-grid {
    .event-grid-item {
        border-radius: 10px;
    }
    .event-grid-content {
        .event-header {
            background: rgba(0, 0, 0, 0.1);
            padding: 10px 10px;
            border-radius: 10px 10px 0px 0px;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        .inner-content {
            padding: 10px 10px;
        }
        .event-working-grid {
            h3 {
                color: rgba(255, 255, 255, 0.8);
            }
        }
    }
}
  

  @media screen and (max-width: 900px) {
    .input-search-wrapper {
      max-width: inherit !important;
    }
  }
}