.wrap-main-finance-dashboard{
.wrapper-finance-only-top-card-content{
overflow: hidden;
}
.wrapper-finance-graph-content-body{
  max-height: 700px;
  overflow: scroll;
  &::-webkit-scrollbar{
    display: none;
  }
}
}
@media only screen and (max-width: 1200px) {
  .wrap-main-finance-dashboard .wrapper-finance-graph-content-body{
    overflow:unset;
  }
  .wrap-main-finance-dashboard .wrapper-finance-only-top-card-content{

  }
}
