.add-book-shift-modal {
  .ant-modal-content {
    padding: 0px;
  }

  .select-wrapper .ant-form-item-label {
    padding: 0 0 2px !important;
  }
}

.bookShift {
  padding: 0 30px 30px;

  .custom-file-input ::-webkit-file-upload-button {
    display: none !important;
  }

  .ant-picker-input>input::placeholder {
    color: #888888 !important;
  }

  .ant-picker:hover {
    border: 1px solid #65cdf0 !important;
  }

  textarea::placeholder {
    color: #888888 !important;
  }

  .ant-input-affix-wrapper>input.ant-input {
    color: #888888 !important;
  }

  .staff-wrapper:has(.ant-select-status-error) {
    border-color: red;
  }

  .staff-wrapper {
    display: flex;
    align-items: center;
    // border: 1.5px solid #a0a3bd;
    border-radius: 3px;

    &:hover {
      border: 1.5px solid #65CDF0 !important;
    }

    .filter-icon {
      width: 46px;
      height: 42px;
      display: flex;
      justify-content: center;
      align-items: center;
      background: #DEDEDE;
      border-radius: 0px 3px 3px 0px;
      cursor: pointer;
    }
  }

  // .label {
  //   color: #000000;
  //   font-weight: 600;
  // }
  .ant-form-item {
    margin-bottom: 0 !important;
  }

  .staff-wrapper {
    position: relative;
    border: 1.5px solid #a0a3bd;
    border-radius: 3px;
    height: 42px;

    .icon {
      img {
        position: absolute;
        top: 0;
        right: 1.5px;
      }
    }
  }

  .switch-wrapper {
    padding-top: 30px;

    span {
      margin-left: 10px;
    }
  }

  .btn-wrapper {
    gap: 10px;

    .cancel-btn {
      background-color: #4e132c;
      color: #fff;

      &:hover {
        color: #fff;
      }
    }

    .save-btn {
      background-color: #65cdf0;
      color: #fff;

      &:hover {
        color: #fff;
      }
    }
  }

  @media only screen and (max-width: 768px) {
    .btn-wrapper {
      display: block;
    }

    .cancel-btn,
    .save-btn {
      width: 100%;
      margin: 5px 0px;
    }
  }
}