@import '../../sass/variables';

.admin-reports-wrapper {
    padding: 1.875rem;
    background: #FFFFFF;
    border: 1px solid #D9DBE9;
    border-radius: 8px;
    min-height: 100%;
    box-shadow: 0px 12px 23px rgba(62, 73, 84, 0.04);
    margin-bottom: 50px;
}

