@import "../../../sass/variables";

.advance-staff-report-wrapper {
  background-color: $white-color;

  .search-collapse-wrapper {
    padding: 1rem 0;
    height: 100vh;
    overflow-y: scroll;
    overflow-x: hidden;

    .ant-collapse {
      overflow-y: auto;
      padding: 0.875rem;
      height: 100%;
      background: none;

      // For Flipping Image on Opening Dropdown
      .down-arrow {
        -moz-transition: all 0.6s linear;
        -webkit-transition: all 0.6s linear;
        transition: all 0.6s linear;

        &.is-active {
          transform: rotateX(180deg);
        }
      }

      .ant-collapse-item {
        border-radius: 4px 0 4px 0;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.09);
        border: none;

        .ant-collapse-header {
          background: $white-color;
          border-radius: $border-radius-4;
          padding: 23px 20px !important;

          .ant-collapse-header-text {
            font-weight: $fw-500;
            font-size: $fs-14;
            line-height: $line-height-22;
            text-transform: uppercase;
          }
        }
      }

      @media screen and (max-width: 767px) {
        height: 100%;
      }
    }

    .ant-form-item {
      margin: 0 !important;
    }

    .ant-form-item-control-input-content {
      .ant-input.ant-input-disabled {
        border: none !important;
        color: #888888 !important;
        background-color: #f7f7fc !important;
        box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);

        &:hover {
          border: none !important;
        }
      }
    }

    .ant-collapse-item.ant-collapse-item-active {
      border: none;
      background: $white-color;
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.09);
      border-radius: 0 4px 0 4px;

      .ant-collapse-header {
        background: $white-color;
        border-radius: 4px 4px 0 0;
      }
    }

    .ant-collapse-item {
      margin-bottom: 20px;
    }
  }

  .search-client-usertype {
    .ant-checkbox-group {
      flex-direction: column !important;
      gap: 10px;

      .ant-checkbox-group-item {
        margin-inline-start: 0 !important;
        font-weight: $fw-500;
        font-size: $fs-12;
        line-height: $line-height-20;
        color: $title-color;

        // .ant-checkbox-checked .ant-checkbox-inner {
        //     border-color: #AADDEE;
        //     background-color: #4dc2e9;
        // }

        & :nth-child(2) {
          color: $title-color !important;
        }
      }
    }
  }

  .search-by-experience {
    gap: 20px;

    .input-wrapper {
      &:nth-child(2) {
        padding-top: 10px;
      }
    }
  }

  .ant-select-selector .ant-select-selection-item {
    line-height: $line-height-38 !important;
  }

  .advance-staff-data {
    span {
      line-height: $line-height-20;
      color: #8f8f8f;
    }
  }

  .advance-collapse-icon {
    justify-content: flex-end;
    // padding-bottom: 20px;
    padding: 1.875rem 0 1.875rem 0;
  }
  .staff-cards {
    height: 100vh;
    padding-bottom: 20px;
    overflow-y: scroll;
  }

  // Advance Staff Card Styling
  .advance-staff-card-wrapper {
    .staff-card {
      box-shadow: 0px 11px 19px rgba(109, 141, 173, 0.13);
      border-radius: 21px;
      padding: 2.5rem;
      border: none !important;

      .ant-card-body {
        padding: 0;
      }

      .staff-card-img {
        .ant-scroll-number.ant-badge-count {
          position: absolute !important;
          bottom: -30px !important;
          margin: 0 !important;
          top: initial !important;
          width: 39px;
          height: 39px;
          right: -4px;
          border-radius: 50px;
          font-size: 14px;
          font-weight: $fw-500;
          line-height: $line-height-24;
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }

      h2 {
        padding-top: 8px;
      }

      .staff-card-btn {
        padding-top: 8px;

        p {

          max-width: 88px;
          padding: 3px 0;
          margin: 0 auto;
          letter-spacing: 0.035em;
        }
      }

      .staff-card-data {
        padding-top: 25px;
        gap: 7px;

        .staff-card-insert {
          gap: 15px;
        }
      }

      @media screen and (max-width: 1400px) {
        padding: 1.5rem;
      }
    }
  }

  // Advance Staff Collapse Card Styling
  .advance-search-collapse-card {
    gap: 20px;

    .advance-search-card-item {
      box-shadow: 0px 0px 35px rgba(181, 181, 195, 0.15);
      border-radius: $border-radius-6;
      padding: 2.5rem;

      .ant-card-body {
        padding: 0px;
      }

      .advance-img {
        gap: 15px;

        .advance-content-wrap {
          .advance-progress {
            padding-top: 12px;
          }
        }

        .ant-progress-text {
          display: none;
        }
      }

      .staff-view-data {
        gap: 7px;

        .staff-card-insert {
          gap: 15px;
        }
      }

      @media screen and (max-width: 1400px) {
        padding: 1.5rem;
      }
    }
  }
}
