.care-request-report-details-modal {
    .ant-modal {
        min-width: 920px;
        margin: 1rem;

        .ant-modal-content {
            .name-email-wrapper {
                width: 100%;

                .name-wrapper {
                    h2 {
                        margin: 0.375rem auto;
                    }
                }

                .email-wrapper {
                    margin-left: 4rem;

                    & :first-child {
                        margin: 0.375rem auto;
                    }
                }

                @media screen and (max-width: 600px) {
                    & :nth-child(2) {
                        max-width: 65%;
                    }

                    & :nth-child(3) {
                        width: 100%;

                        .email-wrapper {
                            margin-left: 0 !important;
                        }
                    }
                }
            }
        }

        @media screen and (max-width:950px) {
            min-width: min-content;
            width: auto !important;
        }
    }
}