.product-title{
    font-family: "Black Mango", Sans-serif;
    font-size: 3rem;
    font-weight: 700;
     color: #000000;
}
.product-description{
    font-family: "Lexend Giga", Sans-serif;
    font-size: 1.8rem;
    font-weight: 400;
    color: #000000;
}
.product-price{
    color: #000000;
    font-family: "Black Mango", Sans-serif;
    font-size: 3.5rem;
    text-align: left;
}