.carer-training-wrapper {
  .ant-progress-bg {
    height: 5px !important;
  }
  .ant-progress-line {
    margin-bottom: 0;
  }
  .top-header {
    background: #ffffff;
    padding: 20px 14px;
    border: 1px solid #d9dbe9;
    box-shadow: 0px 12px 23px rgba(62, 73, 84, 0.04);
    border-radius: 8px;
    .label {
      color: #4e4b66;
      margin-left: 5px;
      margin-bottom: 5px;
    }
    .ant-select-selector {
      padding: 4px 11px;
      height: 40px;
    }
    .select {
      width: 251px;
      @media screen and (max-width: 425px) {
        width: 100%;
      }
    }
  }

  .main-section {
    min-height: 68vh;
    margin-top: 18px;
    background: #ffffff;
    border: 1px solid #d9dbe9;
    box-shadow: 0px 12px 23px rgba(62, 73, 84, 0.04);
    border-radius: 4px;
  }
  .overly {
    :hover > .img-container img {
      filter: brightness(60%);
    }
  }

  .course-card {
    position: relative;
    align-items: center;
    .img-container{
      height: 163px;
      background-color: whitesmoke;
      border-radius: 10px;
      display: flex;
      align-items: center;
    }
    .course-name {
      color: #4e4b66;
    }
    .course-title {
      color: #4e4b66;
      text-align: center;
      padding: 10px;
    }
    .completion-status {
      margin-top: -7px;
      color: #4e4b66;
    }
    .new {
      position: absolute;
      top: -8px;
      left: 10px;
    }
    .icon {
      position: absolute;
      top: -20px;
      right: -20px;
    }
  }
  .cards-list {
    padding: 30px;
    display: flex;
    gap: 50px;
    flex-wrap: wrap;
    @media screen and (max-width: 768px) {
      gap: 30px;
    }
    .single-card {
      flex-basis: 17%;
      @media screen and (max-width: 1472px) {
        flex-basis: 29%;
      }
      @media screen and (min-width: 1025px) and (max-width: 1180px) {
        flex-basis: 46%;
      }
      @media screen and (max-width: 890px) {
        flex-basis: 28%;
      }
      @media screen and (max-width: 768px) {
        flex-basis: 47%;
      }
      @media screen and (max-width: 592px) {
        flex-basis: 46%;
      }
      @media screen and (max-width: 466px) {
        flex-basis: 100%;
      }
    }
  }
}
