.shift-info {
  .main-content {
    margin: 2rem 0 3rem 0;
  }
  .details-content {
    margin-top: 5rem;
    display: flex;
    justify-content: end;
    @media only screen and (max-width: 768px) {
      margin: 0;
    }
  }
  .detail-wrapper {
    margin-top: 10px;
    span {
      margin-left: 10px;
    }
  }

  .btn-wrapper {
    margin-top: 20px;
    gap: 10px;
    .relocate-shift-btn {
      background-color: #ff4d4f;
      color: #fff;
    }
    .alocate-shift-btn {
        background-color: #EE2E7E;
        color: #fff;
    }
    .cancel-shift-btn {
      background-color: #4e132c;
      color: #fff;
    }
    .modify-num-btn {
      background-color: #f7b923;
      color: #fff;
    }
    .change-shift-btn {
      background-color: #65cdf0;
      color: #fff;
    }
    @media only screen and (max-width: 768px) {
      display: block;
      margin-top: 10px;
      .relocate-shift-btn,
      .alocate-shift-btn,
      .modify-num-btn,
      .change-shift-btn,
      .cancel-shift-btn {
        width: 100%;
        margin: 5px 0px;
      }
      .details-content {
        margin-top: 0px;
      }
    }
  }
}
