@import '../../sass/variables.scss';

.client-preferences-wrapper {
  .switch-btn label {
    font-size: 14px;
    font-weight: 600;
    color: #6e7191;
  }
  .sliderbar-wrapper .slider-text:not(:first-child),
  .sliderbar-wrapper .slider-text:last-child {
    color: white;
    background: #65cdf0;
    padding: 2px 5px;
    border-radius: 5px;
  }
  

  .sliderbar-wrapper .ant-slider-track {
    background: #65cdf0 !important;
    height: 8px !important;
  }
  .sliderbar-wrapper .ant-slider-rail {
    height: 8px !important;
    background: rgb(234, 234, 234) 100% !important;
  }
  .sliderbar-wrapper .ant-slider-horizontal {
    height: 8px !important;
    margin-left: 12px !important;
  }
  .sliderbar-wrapper .ant-slider-handle {
    height: 30px !important;
    top: -6px !important;
  }
  .client-preferences-wrap {
    border: 1px solid #d9dbe9;
    box-shadow: 0px 12px 23px rgba(62, 73, 84, 0.04);
    border-radius: 8px;
    padding: 30px;

    .care-booking-btn {
      button {
        background-color: #65cdf0;
        padding: 12px 30px;
        border: none !important;
        box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.043);
        border-radius: 4px;
      }
    }
  }
  .client-preferences-select {
    padding-bottom: 30px;
    label {
      font-size: 14px;
      font-weight: 600;
      color: #6e7191;
    }

    .ant-select {
      .ant-select-selector {
        border: 1.5px solid #a0a3bd;
        border-radius: 3px;
        height: 45px;
  
        .ant-select-selection-placeholder {
          line-height: 41px;
          color: #888888 !important;
        }
  
        .ant-select-selection-item {
          line-height: 40px;
          color: $title-color;
        }
      }
    }
    .ant-form-item-row {
      .ant-form-item-label {
        text-align: left;
      }
      flex-direction: column;
    }
    .ant-select {
      max-width: 400px;
    }
  }
  .client-preferences-table {
    padding-block: 40px;

    .client-preferences-table-content {
      .ant-table {
        background: #ffffff !important;
        border: 1px solid #d9dbe9 !important;
        border-radius: 10px !important;

        .ant-table-thead tr .ant-table-cell:first-child:before {
          background-color: transparent !important;
        }
        .ant-table-thead tr .ant-table-cell:nth-child(2),
        .ant-table-tbody tr .ant-table-cell:nth-child(2) {
          text-align: left !important;
        }
        .ant-table-thead {
          tr {
            .ant-table-cell {
              background: none !important;
              font-weight: 600 !important;
              font-size: 14px !important;
              line-height: 17px !important;
              color: #4e4b66 !important;
              padding: 24px 16px !important;
              text-align: center !important;
              border-bottom: 1px solid #d9dbe9 !important;
              &::before {
                background-color: #4e4b66 !important;
              }
            }
          }
        }
        .ant-table-tbody {
          tr {
            .ant-table-cell {
              padding: 22px 16px !important;
              text-align: center !important;
              border-bottom: 1px solid #d9dbe9 !important;
            }
          }
        }
      }
    }
  }

  
}
