.week-availabilit-table-wrapper {
  .ant-table {
    background: #ffffff !important;
    border: 1px solid #d9dbe9 !important;
    border-radius: 10px !important;
    .ant-table-thead {
      tr {
        .ant-table-cell {
          background: none !important;
          font-weight: 600 !important;
          font-size: 14px !important;
          line-height: 17px !important;
          color: #4e4b66 !important;
          padding: 20px 16px !important;
          border-bottom: 1px solid #d9dbe9 !important;
          &::before {
            background-color: #4e4b66 !important;
          }
        }
      }
    }
    .ant-table-tbody {
      tr {
        .ant-table-cell {
          padding: 22px 16px !important;
          border-bottom: 1px solid #d9dbe9 !important;
        }
      }
    }
  }
}
