.trainee-courses-main-wrapper {
    .course-details-head {
        background: #ffffff;
        box-shadow: 0px 12px 23px rgba(62, 73, 84, 0.04);
        border-radius: 8px;
        padding: 20px;
        gap: 13px;
        flex-wrap: wrap;
    }
    .user-details {
        display: flex;
        gap: 10px;
    }
    .courses-flex-mian-wrapper {
        background: #FFFFFF;
        box-shadow: 0px 12px 23px rgba(62, 73, 84, 0.04);
        border-radius: 8px;
        padding: 20px;
        margin-top: 30px;
        .ant-progress-bg {
            height: 5px !important;
        }
        .ant-progress-line {
            margin-bottom: 0;
        }
        .course-card {
            align-items: center;
            width: 244px;

            .course-name {
                color: #4e4b66;
            }

            .completion-status {
                margin-top: -7px;
                color: #4e4b66;
            }

            .img-container {
                position: relative;
                height: 200px;
                .btn {
                    cursor: pointer;
                    border: none;
                    padding: 5px 15px;
                    color: #fff;
                    background: #65cdf0;
                    box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.043);
                    border-radius: 2px;
                }
            }

            .overlay {
                display: none;
                background: rgba(0, 0, 0, 0.25);
                position: absolute;
                top: 0;
                height: 96%;
                border-radius: 8px;
                width: 100%;
            }

            .course-content:hover .overlay {
                display: block;
                cursor: pointer;
            }
        }
        .cards-list {
            display: flex;
            gap: 40px;
            flex-wrap: wrap;
            margin-top: 20px;
            .course-content-wrap {}
        }
    }
    

}