.wrap-shift-details-card{
  background: #FFFFFF !important;
  .shift-details-card-style{
      background: #FFFFFF !important;
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
      height: 381px;
      .ant-card-body{
          padding: 18px !important;
      }
  }.rating-star{
    margin-left: 43.4px;
   
  }
  .shift-title{
          padding-left: 12px;
          margin-top: 6px;
           white-space:pre-line;
  }.shift-img{
      margin-top: 0px;
  }
  .shift-card-content{
   gap: 16px;
   padding-bottom: 16px;
   margin-left: 5px;
  }.wrap-shift-card-btn{
      padding-top: 10px;
      margin-left: 8.5px;
  }
  .shift-details-card-info-btn{
      padding: 10px 16px;
      background: #F7B923;
      border-radius: 4px;
      border: none;
  }.shift-details-card-accept-btn{
      padding: 10px 16px;
      background: #65CDF0;
       border-radius: 4px;
       border: none;
  } .wrap-shift-card-info{
      margin-top: 12px;
      margin-left: 0.6px;
  }.shift-details-card-cancel-btn{
      padding: 10px 16px;
      border-radius: 4px;
      border: none;
      background: #4E132C;
  }.wrap-upcoming-shift-cards{
      box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.15) !important;
  background: #fff;
  height: 740px;
  overflow: scroll;
  padding: 10px 22px;
  border-radius: 10px;
  }
}
@media only screen and (max-width: 1805px) {
  .wrap-shift-details-card .shift-details-card-style{
      height: fit-content; 
  }
}
@media only screen and (max-width: 1493px) {
  .wrap-shift-details-card .shift-details-card-style{
      height: fit-content; 
  }
  .wrap-shift-details-card .wrap-shift-card-btn{
      padding-top: 30px;
  }  
}
@media only screen and (max-width: 1437px) {
  .wrap-shift-details-card .shift-details-card-style{
      height: 550px; 
  }
  .wrap-shift-details-card .wrap-shift-card-btn{
      padding-top: 30px;
  }

}

  @media only screen and (max-width: 1430px) {
      .wrap-shift-details-card .shift-details-card-info-btn,  
      .wrap-shift-details-card .shift-details-card-accept-btn, 
      .wrap-shift-details-card   .shift-details-card-cancel-btn {
          padding: 8px 9px;  
       } 
       .wrap-shift-details-card .wrap-shift-card-btn{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
      }
  }

  @media only screen and (max-width: 1622px) {
      .wrap-shift-details-card .shift-details-card-info-btn,  
      .wrap-shift-details-card .shift-details-card-accept-btn, 
      .wrap-shift-details-card   .shift-details-card-cancel-btn {
          width: 12px 16px;  
          white-space: nowrap;
       } 
       .wrap-shift-details-card{
          height: fit-content !important; 
       }
       .wrap-shifts-tabs {
          height: fit-content !important; 
       }
       .wrap-shift-details-card .wrap-upcoming-shift-cards {
          height: fit-content !important; 
       }
  }
  @media only screen and (max-width: 991px) {
      .wrap-shift-details-card .shift-details-card-info-btn,  
      .wrap-shift-details-card .shift-details-card-accept-btn, 
      .wrap-shift-details-card   .shift-details-card-cancel-btn {
          width: 12px 16px;  
          white-space: nowrap;
       } 
       .wrap-shift-details-card .wrap-shift-card-btn{
        display: flex;
        flex-direction: row ;
        width: 100%;
      }
  }
@media only screen and (max-width: 1695px) {
  
  .wrap-shift-details-card .shift-details-card-info-btn,  
  .wrap-shift-details-card .shift-details-card-accept-btn, 
  .wrap-shift-details-card   .shift-details-card-cancel-btn {
      padding: 10px 12px;  
   } 

   .wrap-shift-details-card .shift-details-card-style{
      height: fit-content; 
  }
}

@media only screen and (max-width: 394px) {

.wrap-shift-details-card .wrap-shift-card-btn{
  display: flex;
  flex-direction: column;
} .wrap-shift-details-card .wrap-shift-card-btn .shift-details-card-info-btn{
  padding: 10px 26px !important;
}
.wrap-shift-details-card .wrap-shift-card-btn .shift-details-card-accept-btn{
  padding: 10px 26px  !important;
}
}

// modal css
.wrapper-shift-detail-info-modal{
  .ant-modal .ant-modal-close-x {
      color: #4E132C !important;
  }
}
.wrap-shift-detail-info-modal{
  height: 506px;
 
 
.wrap-shift-detail-info-modal-content{
  padding-top: 25px;
  padding-left: 15px;
  .ant-modal .ant-modal-close-x {
      color: #4E132C !important;
  }
  .shift-info-modal-title{
      margin-left: 22px;
      white-space: pre-line;
  }
  .modal-shift-img{
    margin-left: 16px;
  }
  .shift-details-modal-content{
      padding: 18px;
      .shift-details-modal-content-text-style{
      padding-bottom: 18px;
      }
  }.shift-detail-bottom-paragraph{
    margin-left: 0px;
    margin-bottom: 0px;
  }
}
}

//Accept modal
.wrap-shift-detail-accept-modal-content{
  .wrap-shift-accept-btn{
      margin-top: 30px;
      padding-bottom: 30px;
      .shift-detail-accept-btn-no{
          padding: 12px 35px;
          background: #F7B923;
          box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.043);
          border-radius: 2px;
          border: none;
      }
  }.shift-detail-accept-modal-img{
      margin-top: 50px;
  }.shift-detail-accept-modal-text{
      margin-top: 50px;
  }
  .wrap-upcoming-shift-detail-cancel-modal{
      margin-top: 30px;
 .upcoming-shift-detail-cancel-modal-input{
 max-width: 846px;
 height: 146px;
 border: 1.5px solid #A0A3BD;
 &:hover{
 border: 1.5px solid  #65CDF0 !important;
 }
}
  }
}
