.payment-details-table-wrapper.ant-table-wrapper {
  table {
    border-radius: 10px !important;
    border: 1px solid #d9dbe9 !important;
    // margin-bottom: 30px;
  }
  // tr &:last-child {
  //   border-bottom: none;
  // }
  tr > th,
  tr > td {
    border-bottom: 1px solid #d9dbe9;
    text-align: center;
  }
  tr > th:not(:last-child) {
    border-right: 1px solid #d9dbe9;
  }
  thead > tr:first-child > *:first-child,
  td:first-child {
    border-left: 15px solid #f7b923;
    padding: 20px;
    border-right: 1px solid #d9dbe9;
  }
  .ant-dropdown-menu-item {
    padding: 0 !important;
  }
}
.payment-status-dropdown {
  .ant-dropdown-trigger {
    color: #f7b923;
    font-size: 14px;
    font-weight: 500;
    text-shadow: none;
    background: #f7b92326;
    padding: 7px 15px;
    border-radius: 3px;
  }
  .ant-dropdown-trigger:hover,
  .ant-dropdown-trigger.ant-dropdown-open {
    background-color: #f7b923;
    color: white;
  }
  .ant-dropdown-menu {
    background: #52c41a;
    border-radius: 0 0 3px 3px;
    top: -5px;
    text-align: center;
    .ant-dropdown-menu-title-content{
      color: #fff;
    }
  }
}

