.client-user-management-wrapper {
  margin-bottom: 40px;
    .client-user-wrap {
        border: 1px solid #d9dbe9;
        box-shadow: 0px 12px 23px rgba(62, 73, 84, 0.04);
        border-radius: 8px;
        padding: 30px;
        .care-booking-btn {
            button {
                background-color: #65cdf0;
                padding: 12px 30px;
                border: none !important;
                box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.043);
                border-radius: 4px;
            }
        }
    }
    .client-user-select {
        padding-top: 30px;
        .select-wrapper .ant-form-item-label label {
            font-size: 14px;
            font-weight: 600;
            color: #6e7191;
        }
        .ant-form-item-row {
            .ant-form-item-label {
                text-align: left;
            }
            flex-direction: column;
        }
        .ant-select {
            max-width: 400px;
        }
    }
    .client-user-manangement-table {
        .client-user-manangement-table-content {
            .ant-table {
                background: #ffffff !important;
                border: 1px solid #d9dbe9 !important;
                border-radius: 10px !important;
                .ant-table-thead {
                    tr {
                        .ant-table-cell {
                            background: none !important;
                            font-weight: 600 !important;
                            font-size: 14px !important;
                            line-height: 17px !important;
                            color: #4e4b66 !important;
                            padding: 24px 16px !important;
                            text-align: center !important;
                            border-bottom: 1px solid #d9dbe9 !important;
                            &::before {
                                background-color: #4e4b66 !important;
                            }
                        }
                    }
                }
                .ant-table-tbody {
                    tr {
                        .ant-table-cell {
                            padding: 22px 16px !important;
                            text-align: center !important;
                            border-bottom: 1px solid #d9dbe9 !important;
                        }
                    }
                }
            }
        }
    }
}

.client-user-managment-modal {
    .ant-modal-header .ant-modal-title {
        font-size: 20px;
        font-weight: 600;
        color: #6e7191;
        margin-bottom: 20px;
    }
    .ant-form-item .ant-form-item-label>label {
        font-weight: 600 !important;
        color: #6e7191 !important;
        flex-direction: row-reverse;
    }
    .request-shift-btn {
        gap: 10px;
        padding-top: 30px;
        flex-wrap: wrap;
        .cancel-btn {
            background-color: #4e132c !important;
        }
    }
    @media screen and (max-width: 320px) {
        button {
            width: 100%;
        }
    }
}