.wrapper-main-trainne-enrolled-chart {
  padding: 20px;

  .header-chart {}

  .chat-wrapper {
    height: 270px;
    margin-top: 20px;
    text-align: center;
  }

  @media (max-width: 1383px) {
    .chat-wrapper {
      height: 239px !important;
      margin-top: 1rem;
    }
  }
}