.common-report-child-filter-wrapper,.wrapper-report-rating-common-filters {
    .app-select-wrap-class {
        .ant-select-selector {
            border-radius: 0px;
            border-top: 1px solid #D9DBE9;
            border-bottom: 1px solid #D9DBE9;
            border-left: none;
            border-right: none;

            &:hover {
                border-color: #D9DBE9 !important;
                box-shadow: none !important;
            }

            .ant-select-selection-placeholder , .ant-select-selection-item{
              font-size: 14px;
              font-weight: 400;
            }

        }
    }


    .ant-select-focused.ant-select:not(.ant-select-disabled):not(.ant-select-customize-input):not(.ant-pagination-size-changer) .ant-select-selector {
        border-color: #D9DBE9 !important;
        box-shadow: none !important;
        outline: 0;
    }


    & :not(:first-child) {
        .filter-column {
            position: relative;

            &::after {
                content: "";
                height: 60%;
                width: 1px;
                // border-radius: 10px;
                display: block;
                position: absolute;
                bottom: 20%;
                top: 20%;
                left: 0;
                background: #4E4B66;
            }

            @media screen and (max-width:767px) {
                border-left: 1px solid #D9DBE9;
                border-right: 1px solid #D9DBE9;

                &::after {
                    display: none;
                }
            }
        }
    }

    & :last-child {
        .filter-column {
            border-right: 1px solid #D9DBE9 !important;
        }
    }

    & :first-child {
        .filter-column {
            border-left: 1px solid #D9DBE9;

            @media screen and (max-width:767px) {
                border-right: 1px solid #D9DBE9;
            }
        }
    }


    @media (min-width: 768px) and (max-width:991px) {
        & :nth-child(odd) {
            .filter-column {
                border-left: 1px solid #D9DBE9;

                &::after {
                    display: none;
                }
            }
        }

        & :nth-child(even) {
            .filter-column {
                border-left: none !important;
                border-right: 1px solid #D9DBE9 !important;
            }
        }

        & :nth-last-child(-n+2) {
            .not-a-border-col.filter-column {
                border-right: 1px solid #D9DBE9 !important;
            }
        }
    }

    @media (min-width: 992px) and (max-width:1199px) {
        & :nth-child(3) {
            .filter-column {
                border-right: 1px solid #D9DBE9;
            }
        }

        & :nth-child(4) {
            .filter-column {
                border-left: 1px solid #D9DBE9;
                border-right: 1px solid #D9DBE9;

                &::after {
                    display: none;
                }
            }
        }
    }

    @media screen and (min-width: 1199px) {
        & :nth-last-child(-n+1) {
            .filter-column {
                border-right: 1px solid #D9DBE9 !important;
            }
        }

        // & :nth-child(3):not(:last-child)+#not-a-border-col {
        & :nth-child(3):not(:last-child) {
            .filter-column {
                &.not-a-border-col {
                    border-right: 1px solid #D9DBE9 !important;
                }
            }
        }
    }



    // ########### Extra Cards ################

    .extra-cards-parent {
        .extra-cards {
            cursor: pointer;

            .extra-cards-bg-div-parent {
                position: relative;


                .extra-card-heading {
                    transition: all 0.5s ease;
                }

                .extra-cards-bg-div {
                    margin: auto;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    height: 83px;
                    width: 83px;
                    transition: all 0.5s ease;

                    // background: linear-gradient(201.18deg, rgba(211, 255, 231, 0.82) 1.97%, rgba(239, 255, 246, 0.76) 85.86%);
                }

                img {
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%, -50%);
                }

                &:hover {
                    .extra-cards-bg-div {
                        transform: rotate(165deg);
                        -webkit-transform: rotate(165deg);
                        -moz-transform: rotate(165deg);
                        -o-transform: rotate(165deg);
                        -ms-transform: rotate(165deg);
                        transform: rotate(165deg);

                    }

                    .extra-card-heading {
                        /* IE 9 */
                        -ms-transform: scale(1.21);
                        /* Safari 3-8 */
                        -webkit-transform: scale(1.21);
                        transform: scale(1.21);
                        padding-left: 0.6rem;
                    }
                }
            }

        }

        & :nth-child(1) {
            .extra-cards .extra-cards-bg-div-parent .extra-cards-bg-div {
                background-image: url(../../../assets/images/Reports/light-green-bg.png);
            }
        }

        & :nth-child(3) {
            .extra-cards .extra-cards-bg-div-parent .extra-cards-bg-div {
                background-image: url(../../../assets/images/Reports/light-blue-bg.png);
            }
        }

        & :nth-child(5) {
            .extra-cards .extra-cards-bg-div-parent .extra-cards-bg-div {
                background-image: url(../../../assets/images/Reports/light-red-bg.png);
            }
        }

        & :nth-child(7) {
            .extra-cards .extra-cards-bg-div-parent .extra-cards-bg-div {
                background-image: url(../../../assets/images/Reports/light-purple-bg.png);
            }
        }

    }


}

// Report Select Popup Wrap Class
.app-select-popup-wrap-class {
    background: #F7F7FC;
    border: 1px solid #D9DBE9;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
    border-radius: 3px;
    padding: 0px;

    .ant-select-item-option-active {
        box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
        border-radius: 0px;
    }

    .ant-select-item {
        border-radius: 0px;
        background-color: #fff;

        &.ant-select-item-option {
            border-radius: 3px;
        }
    }

    .ant-select-item-option-selected:not(.ant-select-item-option-disabled) {
        background: #F7F7FC;
        // box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);

    }
}