.client-payments-wrapper {
  .ant-table-wrapper {
    margin-bottom: 30px;
  }
  .ant-card .ant-card-body {
    padding: 0 !important;
  }
  .ant-tabs .ant-tabs-content-holder {
    padding: 0 30px 40px;
  }
  .ant-tabs-top > .ant-tabs-nav {
    margin-bottom: 0;
  }
}
