@import "../../../sass/variables";
.staff-availability-sheet-wrapper {
  min-height: 95%;
  background: $white-color;
  border: 1px solid #D9DBE9;
  box-shadow: $card-box-shadow;
  border-radius: $border-radius-8;
  // ########## Availability Sheet Style Starts Here ##########
  .staff-availability-sheet-table {
    .ant-table {
      border: 1px solid #D9DBE9;
      padding: 0.75rem;
      border-radius: 10px !important;

      .ant-table-thead {
        tr {
          height: 65px;

          .ant-table-cell {
            background: none !important;
            font-weight: 600 !important;
            font-size: 14px !important;
            line-height: 17px !important;
            color: #4E4B66 !important;

            // border-bottom: 1px solid #D9DBE9 !important;
            &::before {
              background-color: #4E4B66 !important;
            }
          }
        }
      }

      .ant-table-tbody {
        tr {
          height: 71px;
          border-bottom: 1px solid #D9DBE9;

          .ant-table-cell {
            padding: 10px 16px !important;
          }

          &:last-child {
            border-bottom: none !important;

            td {
              border-bottom: none !important;
            }
          }
        }
      }
    }
  }
  .weather-update-wrapper {
    .selectAvailability {
      width: 50px !important;
    }

    .long-day {
      width: 100%;
      max-height: 33px;
      height: 33px;
      background-color: #d9d9d9;
      background-image: url('../../../assets/images/staffManager/sunBlack.png');
      border-top-left-radius: 15px;
      border-bottom-left-radius: 15px;
      background-color: #f1f1f1;
    }

    .long-day-active {
      background-image: url("../../../assets/images/staffManager/sunshine.png");
    }

    .am-update {
      width: 100%;
      max-height: 33px;
      height: 33px;
      background-color: #d9d9d9;
      color: #eff0f7;
    }

    .pm-update {
      width: 100%;
      max-height: 33px;
      height: 33px;
      background-color: #d9d9d9;
      color: #eff0f7;
    }

    .moon-update {
      width: 100%;
      max-height: 33px;
      height: 33px;
      background-color: #d9d9d9;
      background-image: url("../../../assets/images/staffManager/moon.png");
      border-top-right-radius: 15px;
      border-bottom-right-radius: 15px;
    }

    .active-moon {
      background-image: url("../../../assets/images/staffManager/moonColor.png");
    }
  }

  .availability-table {
    .ant-table {
      background: #ffffff !important;
      border: 1px solid #d9dbe9 !important;
      border-radius: 10px !important;

      .ant-table-thead {
        tr {
          .ant-table-cell {
            background: none !important;
            font-weight: 600 !important;
            font-size: 14px !important;
            line-height: 17px !important;
            color: #4e4b66 !important;
            padding: 20px 16px !important;
            border-bottom: 1px solid #d9dbe9 !important;

            &::before {
              background-color: #4e4b66 !important;
            }
          }
        }
      }

      .ant-table-tbody {
        tr {
          .ant-table-cell {
            padding: 22px 16px !important;
            border-bottom: 1px solid #d9dbe9 !important;
          }
        }
      }
    }
  }


}