.decleration-form-styles {
  position: relative;
  height: 71vh;
  overflow: scroll;
  &::-webkit-scrollbar {
    width: 0px;
    height: 0px;
  }
  .form-check-group {
    display: flex;
    align-items: center;
    gap: 8px;
    margin: 20px 0px;
  }
  .br-line {
    border: 1px solid #d9dbe9;
  }
  .bullet-label {
    position: relative;
    padding-left: 11px;
    &::before {
      position: absolute;
      content: "";
      background-color: #4e4b66;
      width: 6px;
      height: 6px;
      border-radius: 50%;
      left: 0;
      top: 9px;
    }
  }
  .bullet-label-light {
    position: relative;
    padding-left: 11px;
    margin-left: 6px;
    &::before {
      position: absolute;
      content: "";
      background-color: #4e4b66bf;
      width: 4px;
      height: 4px;
      border-radius: 50%;
      left: 0;
      top: 9px;
    }
  }
  .form-radio-group {
    display: flex;
    gap: 64px;
    margin-top: 20px;
    .ant-radio-inner {
      width: 22px;
      height: 22px;
    }
    .ant-radio-checked .ant-radio-inner::after {
      transform: scale(0.675);
      opacity: 1;
      transition: all 0.3s cubic-bezier(0.78, 0.14, 0.15, 0.86);
    }
  }
  .grey-scale-body {
    color: #4e4b66;
  }
  .grey-scale-label {
    color: #6e7191;
  }
  .form-confirmation-wrapper {
    width: 100%;
    height: 165px;
    background: #ffffff;
    border: 1px dashed #000000;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    .send-email-btn {
      background-color: #65cdf0;
      color: #fff;
      width: 160px;
      height: 46px;
      border: 0px;
      font-weight: 600;
      font-size: 16px;
    }
  }
}
