.attendees-wrapper-main {
  padding: 20px;
  overflow: scroll;
  height: 70vh;

  &::-webkit-scrollbar {
    width: 7px;
    height: 0px;
  }
  &::-webkit-scrollbar-thumb {
    background-color: #ffffff00;
    border-radius: 10px;
  }
  &:hover {
    &::-webkit-scrollbar-thumb {
      background-color: #dadada;
      // background-color: $primary-color;
      border-radius: 10px;
    }
  }

  .ant-form-item .ant-form-item-label > label {
    flex-direction: row-reverse;
    font-weight: 600;
    font-size: 14px;
  }
  .ant-select-selector {
    width: 100%;
    height: 46px !important;
    padding: 0 11px;
    display: flex;
    align-items: center;
  }
  .ant-select-multiple .ant-select-selection-placeholder {
    color: #888888 !important;
  }
  .ant-select-single.ant-select-show-arrow .ant-select-selection-placeholder {
    color: #888888 !important;
  }
  .form-select {
    height: 46px;
  }
  .form--label {
    font-size: 14px;
    font-weight: 600;
  }
  .m--0 {
    margin: 0;
  }
  .d--flex {
    display: flex;
  }
  .wrp-checkbox-grp {
    height: 110px;
  }
  .cus-checkbox-group {
    display: flex;
    flex-direction: column !important;
    gap: 5px;
    font-size: 14px !important;
    font-weight: 600 !important;
    .ant-checkbox-wrapper {
      margin-inline-start: 0px !important;
    }
  }


}

.checkbox-group-styles{
  display: flex;
  flex-direction: column;
  .ant-checkbox-wrapper {
    margin-inline-start: 0px !important;
}
}
.wrapper-cus-dropdown{
  width: 550px !important;
}


.group-checkbox-style-flex {
  //copy this
  display: flex;
  flex-direction: column;
  //   gap: 6px;
  // align-items: center;
  margin-top: 10px;

  .ant-checkbox-wrapper + .ant-checkbox-wrapper {
    margin-inline-start: 0px;
    align-items: center;
  }
  .ant-checkbox-wrapper {
    height: 40px;
    border-bottom: 1px solid #e7e7e9;
    display: flex;
    align-items: center;
  }
}