@import "../../../sass/variables.scss";

.shift-booking-wrapper {
  .shift-booking-filters {
    padding: 25px 25px 15px 25px;

    .shift-manager-filter {
      padding-top: 25px;
    }

    .booking-btn-wrapper {
      padding-top: 10px;
      gap: 10px;
      flex-wrap: wrap;
    }
  }

  .shift-booking-table {
    padding-top: 15px;

    .shift-booking-pagination {
      margin-bottom: 15px;
      justify-content: flex-end;
    }

    .booking-table-content {
      .ant-table {
        background: #ffffff !important;
        border: 1px solid #d9dbe9 !important;
        border-radius: 10px !important;

        .ant-table-content {
          .ant-table-thead {
            tr {
              .ant-table-cell {
                text-transform: capitalize;
                padding: 24px 40px !important;
                background: none !important;
                font-weight: $fw-600 !important;
                font-size: $fs-14 !important;
                line-height: 17px !important;
                color: #4e4b66 !important;
                text-align: center !important;
                border-bottom: 1px solid #d9dbe9 !important;

                &::before {
                  background-color: #4e4b66 !important;
                }
              }
            }
          }

          .ant-table-tbody {
            tr {
              .ant-table-cell {
                padding: 20px 16px !important;
                border-bottom: 1px solid #d9dbe9 !important;
                text-align: center !important;
              }
            }
          }
        }
      }
    }
  }

  .ant-pagination {
    .ant-pagination-next,
    .ant-pagination-prev,
    .ant-pagination-options {
      margin: 0px !important;
    }
  }

  .ant-select.ant-pagination-options-size-changer.css-dev-only-do-not-override-eq4diu.ant-select-single.ant-select-show-arrow {
    display: none;
  }

  .custom-pagination-wrapper-class {
    .ant-pagination-next,
    .ant-pagination-prev,
    .ant-pagination-options {
      margin: 0px !important;
    }

    .ant-select-selector {
      width: 100%;
      height: 34px;
      padding: 0 11px;
      border: 1px solid #d9dbe9;
      box-shadow: 0px 1px 6px rgb(0 0 0 / 15%);
    }
  }
}
