.wrapper-finance-top-client-cards{
.ant-card-body{
    padding: 10px 24px !important;
  }
height: 910px;
background: #FFFFFF;
box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.13);
border-radius: 10px;
.finance-top-clients-cards{
 box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.15);

 height: 65px;
 padding: 18px;
 margin: 0 auto;
}
}



@media only screen and (max-width:722px)  {
    .wrapper-finance-top-client-cards .finance-top-clients-cards {
        width:100%;
    }.wrapper-finance-top-client-cards{
        width:100%;
        padding: 12px;
    }
    .finance-card-week-month{
        display: flex;
        flex-direction: column;
       }
}
@media only screen and (max-width:1550px)  {
    .wrapper-finance-top-client-cards .finance-top-clients-cards {
        width:100%;
        padding: 5px;
    }.wrapper-finance-top-client-cards{
        width:100%;
        padding: 5px;
    }
}
@media only screen and (max-width:410px)  {
    .wrapper-finance-top-client-cards .finance-top-clients-cards {
     height: 100%;
     width: 100%;
     padding: 10px 0px !important;
     display: flex;
     flex-direction: column;
    
    } .wrapper-finance-top-client-cards .finance-top-client-cards-styling{
        padding: 0px 2px !important;
       padding-bottom: 12px;
    }
    .wrapper-finance-top-client-cards{
        height: 100%;
    }
    }