@import "../../../../sass/variables.scss";

.carer-dashboard-calendar {
  padding: 20px 20px;
  border-radius: 10px;
  margin-bottom: 50px;

  .client-calendar {
    padding-top: 10px;

    .fc-timeline-slot.fc-timeline-slot-lane {
      height: 50px !important;
    }

    .fc-timeline-slot.fc-timeline-slot-label {
      .fc-timeline-slot-frame {
        height: 50px !important;
      }
    }

    .fc-datagrid-cell-frame,
    .fc-timeline-lane-frame {
      height: 50px !important;
    }

    .fc-datagrid-cell.fc-resource {
      height: 50px !important;
    }

    .fc-datagrid-cell-cushion.fc-scrollgrid-sync-inner {
      display: flex;
      height: 100%;
      padding: 0 !important;
    }

    .fc-view-harness.fc-view-harness-active {
      background: #fff !important;
      box-shadow: 0px 0px 6px rgba(16, 24, 40, 0.1);
      border-radius: 8px;
      height: 100vh !important;
    }

    .fc-scrollgrid.fc-scrollgrid-liquid {
      border-radius: 8px;
    }

    .fc .fc-resource-timeline-divider {
      width: 1px !important;
    }

    .fc-h-event {
      background: none !important;
      border: none !important;
    }

    .fc-timeline-slot-frame {
      // width: 200px;
      display: flex;
      justify-content: center !important;
      align-items: center !important;
    }

    .fc-resource-timeline-divider.fc-cell-shaded {
      cursor: none !important;
    }

    .fc .fc-daygrid-day.fc-day-today {
      background: none;
    }

    .fc-datagrid-cell-main {
      display: flex;
      height: 100%;
      padding-left: 15px;
      align-items: center;
      color: #4e4b66;
      font-weight: $fw-600;
      font-size: $fs-14;
    }

    .resource-user {
      padding-left: 25px;

      h2 {
        line-height: 11px;
        text-align: left;
      }
    }

    .client-booking-event-wrap {
      background-color: #3dc563;
      padding: 8px 11px;
      border-radius: 6px;
      gap: 8px;
      border-left: 4px solid #48b767;

      span {
        width: 1px;
        height: 10px;
      }

      .event-icon {
        gap: 5px;
      }
    }
  }
}
