.total-hours{
  background: rgba(101, 205, 240, 0.35);
  padding: 20px;
  margin-top: 20px;
  h6{
    margin-left: 10px;
  }

}
.total-Shift{
  background: rgba(247, 185, 35, 0.36);
  padding: 20px;
  margin-top: 20px;
  h6{
    margin-left: 10px;
  }
}