.staff-rate-accordian {
  width: 100%;
  overflow-x: scroll;

  .right-wrapper {

    .render-user-data {
      padding-left: 10px;
      color: #212529;
      border: 1px solid #D9DBE9;
      width: 268px;
      height: 47px;
      margin-top: 9px;
    }
  }

  .ant-form-item {
    margin-bottom: 0;
    width: 100%;
  }

  .staff-select {
    .ant-select-selector {
      width: 268px;
      display: flex;
      align-items: center;
      border-radius: 0;
      height: 47px;
    }
  }

  .staffName {
    height: 60%;

    .ant-select-selector {
      height: 100% !important;
    }
  }
}