//Training Module styling
.training-wrapper {
  margin-bottom: 30px;
  .course-info-card {
    min-height: 150px;
    padding: 15px 0;
    background: #ffffff;
    box-shadow: 0px 12px 23px rgba(62, 73, 84, 0.04);
    border-radius: 8px;
    .header {
      padding-right: 25px;
      display: flex;
      flex-wrap: wrap;
      margin-top: 5px;
      justify-content: space-between;
      align-items: center;
      .blue {
        background: #65cdf0;
        color: #65cdf0;
      }
      .yellow {
        background: #f7b923;
        color: #f7b923;
      }
      .pink {
        background: #ee2e7e;
        color: #ee2e7e;
      }
      .green {
        background: #52c41a;
        color: #52c41a;
      }
      .title {
        font-size: 20px;
        color: #fff;
        padding: 2px 22px;
        margin: 0;
        border-radius: 0px 20px 20px 0px;
      }
      .link-btn {
        background: none;
        border: none;
        cursor: pointer;
      }
    }
    .courses-details {
      padding: 15px 25px;
      display: flex;
      justify-content: space-between;
      align-items: end;
      @media only screen and (min-width: 1200px) and (max-width: 1407px) {
        padding: 5px 15px;
      }
      .mandatory-icon {
        width: 65px;
        height: 65px;
      }
      .courses-count {
        margin: 0;
        display: flex;
        align-items: center;
        p {
          color: #4e4b66;
          margin: 8px;
        }
      }
    }
  }

  //Trainee Services
  .trainee-services-card {
    min-height: 344px;
    padding: 15px 20px;
    background: #ffffff;
    box-shadow: 0px 12px 23px rgba(62, 73, 84, 0.04);
    border-radius: 8px;
    .title {
      margin: 0;
      color: #4e4b66;
    }
    .services {
      margin-top: 35px;
      .service {
        cursor: pointer;
        display: flex;
        align-items: center;
        margin-bottom: 20px;
        p {
          margin-left: 12px;
          font-size: 16px;
          font-weight: 500;
          color: #4e4b66;
        }
      }
    }
  }

  //Course Progress card
  .courses-progress-card {
    padding: 15px 20px;
    min-height: 344px;
    background: #ffffff;
    box-shadow: 0px 12px 23px rgba(62, 73, 84, 0.04);
    border-radius: 8px;
    .title {
      margin: 0;
      color: #4e4b66;
      font-size: 20px;
      font-weight: 500;
    }
    .courses-details {
      margin-top: 35px;
      .course {
        display: flex;
        justify-content: space-between;
        .course-title {
          margin: 0;
          font-size: 14px;
          color: #4e4b66;
        }
        .course-progress {
          margin: 0;
          font-weight: 600;
          font-size: 14px;
        }
      }
      .progress {
        margin-bottom: 12px;
      }
    }
  }

  //News and activity card
  .news-activity-card {
    height: 344px;
    padding: 5px 15px;
    background: #ffffff;
    box-shadow: 0px 12px 23px rgba(62, 73, 84, 0.04);
    border-radius: 8px;
    overflow: scroll;
    .title {
      margin: 0;
      font-size: 20px;
      font-weight: 500;
    }
    .news-activities {
      .bg-blue {
        background: #e0f5fc;
      }
      .bg-yellow {
        background: #fdf1d3;
      }
      .news {
        padding: 4px 8px;
        display: flex;
        margin-top: 10px;
        box-shadow: 0px 12px 23px rgba(62, 73, 84, 0.04);
        border-radius: 8px;
        justify-content: space-between;
        .date {
          color: #6e7191;
          font-size: 14px;
          white-space: nowrap;
        }
      }
      .news-details {
        display: flex;
        align-items: center;
        .blue {
          color: #2885a5;
        }
        .yellow {
          color: #dca41b;
        }
        img {
          width: 47px;
          height: 48px;
        }
        .title {
          font-size: 16px;
          font-weight: 500;
        }
        p {
          margin: 0;
          color: #6e7191;
          font-size: 14px;
          font-weight: 400;
        }
      }
    }
    .link-btn {
      color: #65cdf0;
      :hover {
        color: #65cdf0;
      }
      img {
        margin-left: 5px;
      }
    }
  }

  //Mandatory Graph Styling
  .mandatory-graph {
    padding: 20px 25px;
    background: #ffffff;
    box-shadow: 0px 12px 23px rgba(62, 73, 84, 0.04);
    border-radius: 8px;
  }

  //Training Progress Styling
  .training-progress {
    height: 360px;
    padding: 20px 25px;
    background: #ffffff;
    box-shadow: 0px 12px 23px rgba(62, 73, 84, 0.04);
    border-radius: 8px;
    .title {
      color: #4e4b66;
    }
    .graph{
      padding: 20px 0;
    }
  }
}
