@import '../../../sass/variables';

.common-report-table-wrapper {
    // background: $white-color !important;

    .common-report-table {
        .ant-table {
            border: 1px solid #D9DBE9;
            padding: 0.75rem;
            border-radius: 10px !important;

            .ant-table-thead {
                tr {
                    height: 65px;

                    .ant-table-cell {
                        background: none !important;
                        font-weight: 600 !important;
                        font-size: 14px !important;
                        line-height: 17px !important;
                        color: #4E4B66 !important;

                        // border-bottom: 1px solid #D9DBE9 !important;
                        &::before {
                            background-color: #4E4B66 !important;
                        }
                    }
                }
            }

            .ant-table-tbody {
                tr {
                    height: 71px;
                    border-bottom: 1px solid #D9DBE9;

                    .ant-table-cell {
                        padding: 10px 16px !important;
                    }

                    &:last-child {
                        border-bottom: none !important;

                        td {
                            border-bottom: none !important;
                        }
                    }
                }
            }
        }

        // To show table 1,2,3 pagination
        // .ant-pagination {

        //     .ant-pagination-next,
        //     .ant-pagination-prev,
        //     .ant-pagination-item {
        //         display: none !important;
        //     }

        //     .ant-pagination-options {
        //         margin: 0px !important;
        //     }
        // }
    }

    .custom-pagination-search {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        margin: 1.875rem 0rem;
        gap: 1rem;

        .input-export-icons {
            .search-input {
                background: $white-color;
                // border: 1px solid #D9DBE9;
                font-weight: 400;
                font-size: 14px;
                line-height: 22px;
                height: 40px;
                border-radius: 0px;
                max-width: 345px;
                // min-width: 345px;
                width: 345px;

                .ant-input {
                    &::placeholder {
                        color: #6E7191;
                    }
                }

                &.ant-input-affix-wrapper:not(.ant-input-affix-wrapper-disabled),
                .ant-input-affix-focused {
                    box-shadow: none !important;
                    border-color: #D9DBE9 !important;

                    &:hover {
                        border-color: #D9DBE9;
                    }
                }


                @media screen and (max-width:1100px) {
                    width: 100% !important;
                }
            }

            .img-hover {
                cursor: pointer;
                transition: all ease 0.5s;
                filter: invert(1) grayscale(1) brightness(0.6);

                &:hover {
                    /* IE 9 */
                    -ms-transform: scale(1.21);
                    /* Safari 3-8 */
                    -webkit-transform: scale(1.21);
                    transform: scale(1.21);
                    filter: brightness(1);
                }
            }
        }

        // pagination auto hides on mobile devices, so to avoid that its used here
        @media screen and (max-width:576px) {
            .ant-pagination .ant-pagination-options {
                display: block;
            }
        }

        @media screen and (max-width:980px) {
            flex-direction: column-reverse;

            .input-export-icons {
                justify-content: space-between;
            }
        }

        @media screen and (max-width:600px) {
            flex-direction: column-reverse;

            .input-export-icons {
                flex-wrap: wrap;

                .ant-space-item {
                    width: 100% !important;

                    .search-input {
                        margin-bottom: 2rem;
                    }

                }

                & :nth-child(2) {
                    margin-left: auto;
                }
            }
        }

    }

    .custom-pagination-wrapper-class {
        .ant-select-single:not(.ant-select-customize-input) {
            .ant-select-selector {
                background: $white-color;
                border: 1px solid #D9DBE9;
                box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.15);
                border-radius: 0px;

                .ant-select-selection-item {
                    font-size: $fs-14;
                    font-weight: $fw-400;
                    color: $title-color;
                }
            }

            .ant-select-arrow span svg {
                color: $title-color;
            }

            .ant-select-dropdown {
                // background: #F7F7FC;
                border: 1px solid #D9DBE9;
                box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
                border-radius: 3px;
                padding: 0px;

                .ant-select-item-option-active {
                    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
                    border-radius: 0px;
                }

                .ant-select-item {
                    border-radius: 0px;
                    // background-color: #fff;

                    &.ant-select-item-option {
                        border-radius: 3px;
                    }
                }

                .ant-select-item-option-selected:not(.ant-select-item-option-disabled) {
                    background: #F7F7FC;
                    // box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
                }
            }
        }


        .ant-pagination-next,
        .ant-pagination-prev,
        .ant-pagination-item {
            display: none !important;
        }

        .ant-pagination-options {
            margin: 0px !important;
        }
    }
}