.details-wrapper-main {
  padding: 20px;
  overflow: scroll;
  height: 70vh;

  &::-webkit-scrollbar {
    width: 7px;
    height: 0px;
  }
  &::-webkit-scrollbar-thumb {
    background-color: #ffffff00;
    border-radius: 10px;
  }
  &:hover {
    &::-webkit-scrollbar-thumb {
      background-color: #dadada;
      // background-color: $primary-color;
      border-radius: 10px;
    }
  }
  .ant-form-item{
    margin-bottom: 0 !important;
  }
  .start-and-end-time-picker{
      color: #4E4B66;
      border-radius: 3px;
      height: 45px;
      width: 100% !important;
      :where(.css-dev-only-do-not-override-eq4diu).ant-picker .ant-picker-suffix >* {
        vertical-align: top;
        font-size: 21px;
    }
  }
  .ant-picker-input>input::placeholder {
    color: #888888 !important;
    }
    textarea::placeholder {
      color: #888888 !important;
    }
  .ant-form-item .ant-form-item-label > label {
    flex-direction: row-reverse;
    font-weight: 600;
    font-size: 14px;
  }.ant-picker .ant-picker-clear {
    display: none !important;
    color: #fff;
  }
  .ant-picker .ant-picker-clear:hover{
    color: #fff;
    display: none !important;
  }
  .ant-select-selector {
    width: 100%;
    height: 46px !important;
    padding: 0 11px;
    display: flex;
    align-items: center;
  }
  .form-select {
    height: 46px;
  }
  .form--label {
    font-size: 14px;
    font-weight: 600;
  }
  .m--0 {
    margin: 0;
  }
  .d--flex {
    display: flex;
  }
  .wrp-checkbox-grp {
    height: 110px;
  }
  .cus-checkbox-group {
    display: flex;
    flex-direction: column !important;
    gap: 5px;
    font-size: 14px !important;
    font-weight: 600 !important;
    .ant-checkbox-wrapper {
      margin-inline-start: 0px !important;
    }
.ant-checkbox-inner {
      border: 1px solid #6ecdee;
  }
}
.ant-checkbox+span {
  color: #6E7191 !important;
}
  .upload-content-wrapper {
    position: relative;
    height: 189px;
    // overflow: hidden;
    .upload-image {
      position: absolute;
      width: 100%;
      z-index: 1;
      margin-top: 0;
      height: 189px;
    }
    .ant-upload-drag {
      position: relative;
      width: 100%;
      height: 189px;
      text-align: center;
      background: rgba(255, 255, 255, 0) !important;
      border: 2px dashed #e079af !important;
      border-radius: 0px;
      cursor: pointer;
      transition: border-color 0.3s;
      z-index: 2;
    }
  }
}
