.finance-setup-main {
  border-radius: 8px;
  min-height: 75vh;
  max-height: auto;
  margin-bottom: 1rem;

  .setup-cards {
    .clients-cards {
      text-align: center;
      border-radius: 10px;
      padding: 20px 0px;
      background-color: #fcfcfc;

      .setup-cards-img {
        height: 78px;
        width: 78px;
      }

      cursor: pointer;
    }
  }

  @media only screen and (max-width: 768px) {
    .clients-cards {
      padding: 15px 5px;
      margin-block: 20px;

      .setup-cards-img {
        height: 58px;
        width: 58px;
      }
    }
  }
}