.time-sheet-details {
  .ant-input:hover { border: 1px solid #65cdf0 !important;}
  .first-column-content{
    border-right:1px dashed rgba(5, 5, 5, 0.06);
    @media only screen and (max-width:768px) {
      border-right: none;
    }
  }
  .color-black{
    color: #000;
  }
  .detail-wrapper {
    display: flex;
    align-items: center;
    margin-bottom: 10px;

    p {
      margin-left: 10px;
    }
  }
  .img-extension {
    display: flex;
    align-items: center;
    cursor: pointer;
    p {
      margin-left: 10px;
    }
  }
  .signature-section {
    text-align: center;
    border: 1px solid #a0a3bd;
    border-radius: 3px;
    @media only screen and (max-width:768px) {
      img{
        width: 100%;
      }
    }
  }
  .label-color {
    color: #6e7191;
    font-weight: 600;
  }
}
