.wrappper-finance-dashboard-tables{
  padding-bottom: 26px !important;
  .ant-card .ant-card-body {
    border-radius: 10px !important;
    padding: 0px 24px !important;
 
  }

  .ant-table-wrapper .ant-table-title {
    padding: 3px 10px !important;
  }
  .ant-table-wrapper .ant-table-thead >tr>th{
    background: #fff;
  }
  .ant-table-wrapper .ant-table-thead >tr>::before{
    width:2px !important;
    background-color:#4E4B66 !important;
  }.wrap-finance-amount-table{
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.15) !important;
    height: 380px !important;
}.wrap-finance-week-wise-table{
  box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.15) !important;
  height: 505px !important;
}.ant-card-body{
  padding: 0px 8px !important;
}
}
.finance-amount-and-profit-table-tag-style{
 height: 24px;
 width: 70px;
 border: none;
}
@media only screen and (max-width:600px)  {
  .wrappper-finance-dashboard-tables{
      .wrap-finance-amount-table, .wrap-finance-week-wise-table{
          height: 100% !important;
      }
  }
}

@media only screen and (max-width:559px)  {
.wrappper-finance-dashboard-tables  .finance-table-title{
display: flex;
flex-direction: column;
justify-items: center;

}
}
